<div class="l-container-fluid">
    <div class="l-nav-col">
        <span>NAV SECTION</span>
    </div>
    <div class="l-content-col">
     <div class="l-explorer-sort sort_explorer">
            <span>Sort by:&nbsp;</span>
            <explorer-order class="button-set" artists="artists">
                <explorer-order-option order="title" class="button">A-Z</explorer-order-option>
                <explorer-order-option order="dob" class="button">Date of birth</explorer-order-option>       
            </explorer-order>
        </div>
        <div artist-explorer artists="artists" size="size">
            Sorry, no artists matched your search. Please try again with different criteria.
        </div>
        
    </div>

</div>