/* line 5, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/base/base.scss */
html {
  font-size: 14px;
}

/* line 12, ../sass/base/base.scss */
body {
  -webkit-font-smoothing: antialised;
  -moz-font-smoothing: antialised;
  -ms-font-smoothing: antialised;
  -o-font-smoothing: antialised;
  background: #0F111E;
  font-size: 1rem;
}

/* line 17, ../sass/base/base.scss */
a, span {
  color: #7f858c;
}

/* line 1, ../sass/base/typography.scss */
body {
  font-family: 'Roboto Slab', serif;
}

/* line 9, ../sass/layout/layout.scss */
.l-fluid-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/output/support/_clearfix.scss */
.l-fluid-container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 11, ../sass/layout/layout.scss */
.l-fluid-container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 18, ../sass/layout/layout.scss */
.l-menu-bar {
  width: 25%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
}

/* line 22, ../sass/layout/layout.scss */
.l-search-bar {
  width: 25%;
  float: right;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
}

/* line 26, ../sass/layout/layout.scss */
.l-nav-col {
  width: 22.91667%;
  float: left;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
}

/* line 30, ../sass/layout/layout.scss */
.l-content-col {
  width: 72.91667%;
  float: right;
  margin-left: 1.04167%;
  margin-right: 1.04167%;
}

/* line 34, ../sass/layout/layout.scss */
.l-explorer-cell {
  width: 17.5%;
  float: left;
  margin-left: 1.25%;
  margin-right: 1.25%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
  float: none;
}

/* line 42, ../sass/layout/layout.scss */
.l-explorer-cell:nth-child(5n) {
  margin-right: 0;
}

/* line 3, ../sass/modules/sticker.scss */
.sticker-cell {
  text-align: center;
}

/* line 6, ../sass/modules/sticker.scss */
.sticker-image {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin-bottom: 10px;
  height: auto;
  border: 1px solid transparent;
}
/* line 14, ../sass/modules/sticker.scss */
.sticker-image:hover {
  border: 1px solid #fff;
}

/* line 18, ../sass/modules/sticker.scss */
.sticker-title {
  font-size: 0.75rem;
}
