@import 'compass/css3';

.sticker-cell {
  text-align:center;
}
.sticker-image {
  width:100%;
  @include box-sizing(border-box);
  display:block;
  margin-bottom:10px;
  height:auto;
  border:1px solid transparent;

  &:hover {
    border:1px solid #fff;
  }
}
.sticker-title {
  font-size:0.75rem;
}